<div class="container-fluid">
  <div class="header">
    <div class="row header-logo">
      <div class="col-sm-8">
        <h1><a href="/">Manage App</a></h1>
      </div>
      <div class="col-sm-4 align-right">
        <ul class="nav">
          <li><%= link_to '新規情報登録', new_post_path%></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row header-logo">
  <h1><%= current_user.nickname %>さんの業者一覧</h1>
</div> 

<div class="lists">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card__imgframe">
        <%= link_to post.genre, "/posts/#{post.id}", method: :get %>
      </div>
      <div class="card__textbox">
        <div class="card__titletext">
          <%= post.company %>
        </div>
        <div class="card__overviewtext">
          <%= post.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="row">
  <a href="/">HOMEへ戻る</a>
</div> 