<div class="form__wrapper">
  <h3>情報編集フォーム</h3>
<hr>


<div class="form">
  <%= form_with(model: @post, local: true) do |form| %>
    <h3>
      編集内容を入力してください。
    </h3>

<div class="form__box">
      <p class="form__box__list">ジャンル <span class="label label-danger">必須</span></p>
      <%= form.select :genre, [["食品仕入先", "食品仕入先"], ["飲料仕入先", "飲料仕入先"],["求人広告担当", "求人広告担当"],["PR担当", "PR担当"],["社労士", "社労士"],["税理士", "税理士"],["その他", "その他"]], class: "form__box__text", :prompt => "選択してください" %>
    </div>

    <div class="form__box">
      <p class="form__box__list">名前 <span class="label label-danger">必須</span></p>
      <%= form.text_field :name, class: "form__box__text", placeholder: "名前" %>
    </div>

    <div class="form__box">
      <p class="form__box__list">会社名 </p>
      <%= form.text_field :company, class: "form__box__text", placeholder: "会社名" %>
    </div>

    <div class="form__box">
      <p class="form__box__list">電話番号 </p>
      <%= form.text_field :phone_number, class: "form__box__text", placeholder: "電話番号" %>
    </div>

    <div class="form__box">
      <p class="form__box__list">メールアドレス </p>
      <%= form.text_field :email, class: "form__box__text", placeholder: "メールアドレス" %>
    </div>

    <div class="form__box">
      <p class="form__box__list">その他 </p>
      <%= form.text_field :others, class: "form__box__text", placeholder: "その他" %>
    </div>

    <div class="button-panel">
      <input type="submit" class="button" title="Sign In" value="新規情報登録"></input>
    </div>

  <% end %>
</div>

<hr>

<div class="row">
  <%= link_to 'マイページへ戻る', "/users/#{current_user.id}", method: :get %>
</div>  