

<div class="contents row">
  <div class="container">
    <%= form_with(model: @post, local: true) do |form| %>
      <h3>
        投稿する
      </h3>
      <%= form.text_field :genre, placeholder: "ジャンル" %>
      <%= form.text_field :name, placeholder: "名前" %>
      <%= form.text_field :company, placeholder: "会社名" %>
      <%= form.text_field :phone_number, placeholder: "電話番号" %>
      <%= form.text_field :email, placeholder: "メールアドレス" %>
      <%= form.text_field :others, placeholder: "その他" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>