<div class="container-fluid">
  <div class="top">
    <div class="row top-logo">
      <div class="col-sm-9">
        <h1><a href="/">Manage App</a></h1>
      </div>
      <% if user_signed_in? %>
        <div class="col-sm-3 align-right">
          <ul class="nav">
            <li><%= link_to 'マイページ', "/users/#{current_user.id}", method: :get %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><li>
          </ul>
        </div>
      <% else %>
        <div class="col-sm-3 align-right">
          <ul class="nav">
            <li><%= link_to '新規登録', new_user_registration_path, method: :get %></li>
            <li><%= link_to 'ログイン', new_user_session_path, method: :get %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="main">
    <div class="main__visual">
      <div class="main__visual__content">
        <p class="main__visual__content__top">業者管理をシンプルにまとめよう！</p>
        <h1 class="main__visual__content__title">Manage App</h1>
        <h2 class="main__visual__content__text">もうなくさない、忘れない。</h2>
        <div class="main__visual__content__btn">
          <button type="submit" class="btn btn-warning btn-lg">
            <%= link_to '新規登録', new_user_registration_path, method: :get %>
          </button>
          <button type="submit" class="btn btn-warning btn-lg">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          </button>
        </div>
      </div>
    </div>

    <div class="main__user">
      <div class="main__user__message">
        <h3>飲食業、建設業、サービス業などの経営者の方へ</h3>
        <h1>このようなお悩みはありませんか?</h1>
      </div>
      <div class="main__user__box">
        <ul class="main__user__box__list">
          <li><i class="fa fa-check-square" aria-hidden="true"></i>仕入先,社労士,各種営業等の担当者がわからなくなる..</li>
          <li><i class="fa fa-check-square" aria-hidden="true"></i>顧客と分けて業者とのスケジュール管理を一括でしたい。</li>
          <li><i class="fa fa-check-square" aria-hidden="true"></i>同業仲間に業者の紹介をスムーズにしたいけど面倒。</li>
        </ul>
      </div>
      <div class="main__user__text">
        <p>Manage Appを活用すると、業者管理にもう困りません！</p>
      </div>
    </div>

    <div class="main__way">
      <div class="main__way__head">
        <h1>Manage Appの特徴</h1>
      </div>
      <ul class="main__way__box">
        <li>
          <i class="fa fa-address-book-o fa-4x" aria-hidden="true"></i>
          <h3>簡単に管理が出来る</h3>
          <p>最速30秒で業者情報を登録後、情報を一覧で見ることが出来るため、管理がややこしくなることはありません！</p>
        </li>
        <li>
          <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
          <h3>スケジュール登録も同時に</h3>
          <p>業者さんとの定期的なアポイントや、次回ミーティングの日程登録も、プロフィールと紐付けて出来ます！</p>
        </li>
        <li>
          <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
          <h3>知人への紹介もスムーズ</h3>
          <p>いつもよくしてもらっている業者さんを知人にも紹介したい...そんな時もボタン１つで可能！</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer">
  プライバシーポリシー
  </div>
</div>