<div class="container-fluid">
  <div class="header">
    <div class="row">
      <div class="col-sm-8">
        <h1>Manage App</h1>
      </div>
      <% if user_signed_in? %>
        <div class="col-sm-2 align-right">
          <%= link_to 'マイページ', "/users/#{current_user.id}", method: :get %>
        </div>
        <div class="col-sm-2 align-right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="col-sm-2 align-right">
          <%= link_to '新規登録', new_user_registration_path, method: :get %>
        </div>
        <div class="col-sm-2 align-right">
          <%= link_to 'ログイン', new_user_session_path, method: :get %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="main">
    <div class="main__visual">
      <div class="main__visual__content">
        <p class="main__visual__content__top">業者管理をシンプルにまとめよう！</p>
        <h1 class="main__visual__content__title">Manage App</h1>
        <h2 class="main__visual__content__text">もうなくさない、忘れない。</h2>
        <div class="main__visual__content__btn">
          <button type="submit" class="btn btn-warning btn-lg">
            <%= link_to '新規登録', new_user_registration_path, method: :get %>
          </button>
          <button type="submit" class="btn btn-warning btn-lg">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          </button>
        </div>
      </div>
    </div>

    <div class="main__user">
      <div class="main__user__message">
        <h3>飲食業、建設業、サービス業などの経営者の方へ</h3>
        <h1>このようなお悩みはありませんか?</h1>
      </div>
      <div class="main__user__box">
        <ul class="main__user__box__list">
          <li><input type="checkbox" />仕入先、各種営業担当、社労士などの担当者がわからなくなる...</li>
          <li><input type="checkbox" />顧客と分けて業者とのスケジュール管理を一括でしたい。</li>
          <li><input type="checkbox" />同業仲間に業者の紹介をスムーズにしたいけど面倒。</li>
        </ul>
      </div>
      <div class="main__user__text">
        <p>Manage Appを活用すると、業者管理にもう困りません！</p>
      </div>
    </div>

    <div class="main__way">
      <div class="main__way__head">
        <h1>Manage Appの特徴</h1>
      </div>
      <ul class="main__way__box">
        <li>sample1</li>
        <li>sample2</li>
        <li>sanmple3</li>
      </ul>
    </div>
  </div>

  <div class="footer">
  プライバシーポリシー
  </div>
</div>